body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
}

h1 {
  margin: 0;
  padding: 48px 96px;
  font-size: 64px;
  color: #fff;
  border: 8px solid #0d0d0d;
  background: black;
  font-family: Consolas, sans-serif;
}
